@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>PIPPO PIPPO PIPPO E RIDO</p>
    <p>UAHAHHAHAHAHA</p>
    <p>NON MI PIACE QUESTA COCA</p>
</div>
