@model WebServerCloud.Models.Ordine

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Ordine</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            Video
        </dt>
        <dd class="col-sm-8 d-flex justify-content-center">
            <video controls="controls">
                <source src="~/videos/@Model.VideoName" type="video/mp4" />
            </video>
        </dd>
        <dd class="col-sm-2">
            <a href="~/videos/@Model.VideoName" download>Download video</a>
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
